<div class="row p-4 justify-content-center">
    <div class="row col-9">
      <div class="col-12 bg-white p-3 rounded-sm">
        <%= render 'form', opinion: @opinion %>
      </div>
      <div class="col-12 bg-white mt-2 p-3 rounded-sm">
        <p class="text-primary"><%= current_user.opinions.count %> NEW TWEETS</p>
        <hr class="text-dark">
        <%= render partial: 'shared/opinions', locals: { user: current_user } %>
      </div>
    </div>
    <div class="col-3 p-3 rounded-sm">
      <p class="text-muted tx-normal">WHO TO FOLLOW</p>
      <hr class="text-dark">
      <%= render partial: 'shared/follows', locals: { users: @follows } %>
    </div>
</div>
