
<%= simple_form_for(comment, url: opinion_comments_path(opinion)) do |f| %>
  <%= f.error_notification %>

  <div class="form-group mt-2">
    <p class="text-muted">Write a comment</p>
  </div>
  <div class="form-inputs">
    <%= f.input :text, label: false %>
  </div>

  <div class="form-actions mt-2">
    <%= f.button :submit, "Comment", class: "btn btn-sm primary-bg rounded-pill px-3 text-white font-weight-bold" %>
  </div>
<% end %>
